@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-feature-settings: "calt" 1, "liga" 1, "cv08" 1, "cv10" 1, "cv01" 1;
}

h1,
h2 {
    @apply tracking-tight;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.no-spinner {
    -moz-appearance: textfield;
}